.App {
  font-family: monospace;
}

.left-side {
  margin-left: 1%;
  width: 15%;
  height: 2000px;
  float: left;
  background-color: bisque;
}

.right-side {
  margin-right: 1%;
  width: 82%;
  height: 2000px;
  float: right;
  background-color: bisque;
  }

.left-side, .right-side {
  box-sizing: border-box;
  padding: 20px;
  border-left: solid black 2px;
  border-right: solid black 2px;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
}

.image-container:hover .image-hover {
  opacity: 0;
}