.App {
  font-family: monospace;
}

p {
  font-family: monospace;
}

h3 {
  font-family: monospace;
}

.buttonForm {
  background-color: grey;
  color: white;
  border: solid black;
  border-radius: 20px;
  font-family: monospace;
  display: flex;
  justify-content: center;
  align-items: center;
}

textarea {
  background-color: white;
  color: black;
  border: solid black;
  resize: none;
}

button:hover {
  border-color: #646cff;
}

/* Contour des textes */

.outline {
  color: white;
  background-color: grey;
  border: solid black;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

hr {
  border: solid black 1px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.menu_option {
  border: solid black;
  border-radius: 20px;
  margin-top: 2%;
  justify-content: center;
}

/* Forme de la l'application */

.AppForm {
  width: 100%;
  height: 963px;
}

/* Class pour HeadBar */

.headBarForm {
  width: 100%;
  height: 7%;
  align-items: center;
  border-bottom: solid black;
  background-color: rgb(26, 135, 213);
}

.logoHeadBar {
  width: 10%;
  height: 100%;
  margin-left: 5%;
  color: white;
  font-size: large;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
}

.buttonDeco {
  width: 10%;
  height: 100%;
  margin-right: 3%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
}

/* Forme des barres de navigation et des pages */

.left-side {
  width: 20%;
  height: 93%;
  float: left;
  background-color: bisque;
  border-right: solid black;
}

.right-side {
  width: 80%;
  height: 93%;
  float: right;
  background-color: bisque;
}

.left-side, .right-side {
  box-sizing: border-box;
  padding: 20px;
}

/* Class pour le Board */

.buttonBoard {
  width: calc(33% - 2% - 1px);
  height: 300px;
}

/* Class pour le SetTitle Board */

.titleDialogForm {
  width: 20%;
  height: auto;
  margin-top: 17%;
  margin-left: 40%;
  background-color: bisque;
  border: solid black;
  border-radius: 20px;
  padding:1%;
}

.textareaTitleTab {
  width: 98%;
  height: 20px;
  text-align: center;
  font-size: large;
  border: none;
}

/* Class pour les Bar */

.buttonBar {
  width: 100%;
  height: 90px;
  margin-bottom: 4%;
  font-size: large;
}

/* Class pour Modele */

.outlineModeleType {
  width: 80%;
  height: 85px;
  border: solid black;
  border-radius: 20px;
  margin-top: 41px;
  margin-left: 10%;
  margin-bottom: 5%;
}

.modeleType {
  width: 20%;
  margin-left: 0%;
  margin-left: 2%;
  margin-right: 2%;
  background-color: white;
  color: black;
}

.modeleSelect {
  width: calc(20% - 3% - 1px);
  height: 90px;
  margin-bottom: 3%;
  background-color: white;
}

/* Class pour ToDoList */

.toDoListForm {
  width: 400px;
  height: 100%;
  border: solid black;
  border-radius: 20px;
  overflow: hidden;
  margin-right: 20px; 
}

.headerToDoList ,.footerToDoList{
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3%; 
}

.headerToDoList {
  border-bottom: solid black;
}

.footerToDoList {
  border-top: solid black;
}

.labelsTaskForm {
  width: 17%;
  height: 15px;
  left: 3%;
  top: 13%;
  position: absolute;
  border-radius: 20px;
  overflow: auto;
}

.labels {
  width: 100%;
  height: 100%;
}

.iconParametre {
  width: 17%;
  padding : 2%;
}

.taskForm {
  width: 100%;
  padding: 5%;
}

/* Class pour ListMenu */

.buttonMenu {
  width: 90%;
  height: 40px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2%;
}

.sepButton {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 5%;
  margin-right: 5%;
}

/* Class pour TaskParametre */

.modalForm {
  width: 50%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 15px;
  background-color: bisque;
  border: solid black;
}

.outlineLeftTaskParametre {
  width: 70%;
  height: 100%;
  float: left;
}

.titleTask {
  width: calc(99% - 3px);
  height: 4%;
  border-radius: 20px;
  text-align: center;
  display: flex;
  font-size: large;
}

.descriptionTask {
  width: calc(99% - 3px);
  height: 30%;
}

.textLeftTaskParametre {
  width: calc(100% - 3px);
  height: 7%;
  border-radius: 20px;
  margin-bottom: 2%;
}

.buttonLeftTaskParametre {
  width: 49%;
  height : 7%;
  margin-top: 2% ;
  margin-bottom: calc(9% - 1px);
}

.buttonApplyTaskParametre{
  width: 100%;
  height: 7%;
  margin-top:6%;
}

.outlineRightTaskParametre {
  width: 25%;
  height: 100%;
  text-align: center;
  border: solid black;
  border-radius: 20px;
  float: right;
}

.outlineRightTaskParametre > hr {
  margin: 10%;
}

.buttonRightTaskParametre {
  width: 90%;
  height: 7%;
  margin-left: 5%;
  margin-bottom: 4%
}

.labelParametre {
  width: 100%;
  height: 40px;
  margin-top: 2%;
}

.labelRegroup {
  width: 100%;
  height: 5%;
  margin-top: 35%;
}

.labelTask {
  width: 20%;
  height: 50%;
  margin-left: 4%;
  border-radius: 20px;
  color: white;
  justify-content: center;
  text-align: center;
  align-items: center;
}

/* Bienvenue.tsx */
html, body {
  overflow-x: hidden; /* Empêche le défilement horizontal */
}

.bienvenue {
  text-align: center;
  width: 100vw; 
  background-color: #d5f4ff;  
  color: #000;
}


.mainContent {
  padding: 50px 20px 0 20px;
}

.mainContent h1 {
  margin: 50px 0 10px;
  font-size: 2.5em;
}

.mainContent p {
  font-size: 1.2em;
  font-weight: lighter;
  margin-bottom: 10px;
}

.contentFlex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.infoText {
  width: 29%;
  text-align: left;
  font-size: 1.2em;
  margin-top: 180px;
  margin-left: 450px;
  padding: 5px;
  border: 1px solid #dd99bb;
  border-radius: 10px;
  background-color: #FEF8FC;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.imageContainer {
  width: 45%;
}

.imageContainer img {
  width: 100%;
  height: auto;
  margin-left: -650px;
}

.createAccountButton {
  margin-top: 50px;
}

.footerImage img {
  max-width: 30%;
  height: auto;
  margin-top: 60px;
}


/*NavBar.tsx */
.navBar-container {
  position: fixed;
  width: 60%;
  height: 40px;
  top: 0;
  background-color: #74D0F1;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
  transition: top 0.3s;  
  z-index: 1000;  
}

.navBar-hidden {
  top: -60px;  
}

.navBar-logo {
  flex-grow: 0; 
  height: 60px;
  margin-right: auto;  
}

.navBar-logo img {
  height: 45px;
  margin-left: 10px;
}

.navBar-buttons {
  flex-grow: 0;  
  padding-right: 20px;  
}

.navBar-button {
  margin-left: 10px;  
}



/* LoginPage.tsx */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;  
  padding: 20px;
  background-color: #f4f4f4;  
}

 
form {
  width: 100%;
  max-width: 360px; /* largeur maximale du formulaire */
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);  
  border-radius: 8px;  
}

.input-group {
  margin-bottom: 15px;  
}

.input-group label {
  display: block;
  margin-bottom: 5px;  
}

.input-group input {
  width: 90%;
  padding: 8px;
  border: 1px solid #ccc; /* bordure légère pour les inputs */
  border-radius: 4px; /* bordures légèrement arrondies pour les inputs */
}

/* Styles spécifiques aux boutons */
button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #8BDCFF; /* couleur de fond des boutons */
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px; /* bordures arrondies */
  margin-top: 10px; /* espace au-dessus du bouton */
}

button:hover {
  background-color: #4a54e1
  ; /* changement de couleur au survol */
}

/* Style pour le lien mot de passe oublié */
p a {
  color: #5c67f2;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline; /* soulignement au survol */
}
